#jsi-flying-fish-container {
    display: block;
    bottom: 0px;
    right: 1px!important;
    right: 18px;
    line-height: 30px;
    position: fixed;
    text-align: center;
    left: 0px;
    width: inherit;
    opacity: 0.5;
    height: 20%;
}

canvas {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
